#validation-form {
    max-width: 30rem;
}

.flex {
    display: flex;
}

.vertical {
    flex-direction: column;
    gap: 0.5rem;
}

.stretch {
    justify-content: space-between;
}

label {
    flex: 1;
}

span {
    color: red;
}

input:not([type="submit"]) {
    flex: 2;
}

div.error {
    color: red;
}

#email-error,
#country-error,
#zip-code-error,
#confirm-password-error {
    margin-left: 10rem;
}

.help {
    flex: 1;
    color: grey;
}

.flex > div.error {
    flex: 2;
    margin-left: 0;
}

input.error {
    border-color: red;
}

.hidden {
    display: none;
}

#register-btn {
    width: 7rem;
}

form > .flex > div.flex-item:last-child {
    margin-left: 10rem;
}

.success {
    color: green;
}
